<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Group Photos</title>
    <script>
        function renameFolder(folderName) {
            var newName = prompt("Enter new name for the folder:", folderName);
            if (newName != null && newName != "") {
                window.location.href = "/rename?old_name=" + folderName + "&new_name=" + newName;
            }
        }
    </script>
    <style>
        .folder-name {
            display: inline-block;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Upload Photo</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>Folders</h2>
    <div class="folder">
        <ul>
            {% for folder_name, file_names in folder_contents.items() %}
            <li><span class="folder-name" ondblclick="renameFolder('{{ folder_name }}')">{{ folder_name }}</span>
                <ul>
                    {% for file_name in file_names %}
                    <li><img src="{{ url_for('static', filename=folder_name + '/' + file_name) }}" alt="{{ file_name }}"
                            height="100px" width="70px"></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>