<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Group Photo</title>
</head>

<body>
    <h1>Upload Group Photo</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>

</html> -->
<!-- 
<!DOCTYPE html>
<html>

<head>
    <title>Upload Group Photo</title>
</head>

<body>
    <h1>Upload Group Photo</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Created Folders:</h2>
    <ul>
        {% for folder_name, folder_content in folder_contents.items() %}
        <li>{{ folder_name }}:
            <ul>
                {% for file_name in folder_content %}
                <li>{{ file_name }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>

</html> -->


<!-- # -----------------------------------------------------------------folder->frontend+backend---------------------------------- -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Group Photos</title>
</head>

<body>
    <h1>Upload Photo</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>Folders</h2>
    <div class="folder">
    <ul>
        {% for folder_name, file_names in folder_contents.items() %}
        <li>{{ folder_name }}</li>
        <ul>
            {% for file_name in file_names %}
            <li><img src="{{ url_for('static', filename=folder_name + '/' + file_name) }}" alt="{{ file_name }}"
                    height="100px" width="70px">
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    </div>

</body>

</html>

<!-- # -----------------------------------------------------------------folder->frontend+backend---------------------------------- -->